@model M307_Project.ViewModels.RepairOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Repair order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairOrder.Firstname" class="control-label"></label>
                <input asp-for="RepairOrder.Firstname" class="form-control" />
                <span asp-validation-for="RepairOrder.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Lastname" class="control-label"></label>
                <input asp-for="RepairOrder.Lastname" class="form-control" />
                <span asp-validation-for="RepairOrder.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Email" class="control-label"></label>
                <input asp-for="RepairOrder.Email" class="form-control" />
                <span asp-validation-for="RepairOrder.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Phone" class="control-label"></label>
                <input asp-for="RepairOrder.Phone" class="form-control" />
                <span asp-validation-for="RepairOrder.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Severety" class="control-label"></label><br />
                @Html.RadioButtonFor(x => x.RepairOrder.Severety, Enums.Severety.ReallyLow)
                <label for="@Enums.Severety.ReallyLow">Really low</label><br/>

                @Html.RadioButtonFor(x => x.RepairOrder.Severety, Enums.Severety.Low)
                <label for="@Enums.Severety.Low">Low</label><br />

                @Html.RadioButtonFor(x => x.RepairOrder.Severety, Enums.Severety.Normal)
                <label for="@Enums.Severety.Normal">Normal</label><br />

                @Html.RadioButtonFor(x => x.RepairOrder.Severety, Enums.Severety.High)
                <label for="@Enums.Severety.High">High</label><br />

                @Html.RadioButtonFor(x => x.RepairOrder.Severety, Enums.Severety.ReallyHigh)
                <label for="@Enums.Severety.ReallyHigh">Really high</label>

                <span asp-validation-for="RepairOrder.Severety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.RepairState" class="control-label"></label><br />

                @Html.RadioButtonFor(x => x.RepairOrder.RepairState, Enums.RepairState.Pending)
                <label for="@Enums.RepairState.Pending">Pending</label><br />

                @Html.RadioButtonFor(x => x.RepairOrder.RepairState, Enums.RepairState.Finished)
                <label for="@Enums.RepairState.Finished">Finished</label>

                <span asp-validation-for="RepairOrder.RepairState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Tool" class="control-label"></label><br />
                <select asp-for="RepairOrder.ToolId" asp-items="Model.AllTools"></select>
                <span asp-validation-for="RepairOrder.Tool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
