@model IEnumerable<M307_Project.Models.RepairOrder>


<script>
    function writeDeadlineEmoji(severity, startDate) {
        let endDate = getNewRepairEndDateForSeverity(severity, startDate);

        if (endDate > new Date()) {
            document.write('👍');
        } else {
            document.write('👎');
        }
    }
</script>

@{await Html.RenderPartialAsync("_CustomScriptsPartial");}


<script>
    function finishOrders() {
        let checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        let allIds = [];

        checkboxes.forEach(function (element) {
            allIds.push(element.value);
        });

        if (allIds.length > 0) {
            $.post("/RepairOrders/FinishOrders", { ids: allIds })
                .always(function () {
                    location.reload(true);
                });
        }
    }
</script>

<h1>Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool)
            </th>
            <th>
                In deadline?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label class="mostBeautifulCheckboxEver">
                        <input type="checkbox" value="@item.Id" />
                        <span class="mostBeautifulCheckmarkEver"></span>
                    </label>
                    @*<input type="checkbox" value="@item.Id" />*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tool.ToolName)
                </td>
                <td>
                    <script>writeDeadlineEmoji('@((int) item.Severety)', '@item.RepairStartDateTime.ToString("yyyy-MM-ddTHH:mm:ss")')</script>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="finishOrders()">Finish selected orders</button>
