@model IEnumerable<M307_Project.Models.RepairOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool)
            </th>
            <th>
                In deadline?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.ToolName)
            </td>
            <td><script>getDeadlineEmoji('ere')</script></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        function getDeadlineEmoji(startDate) {
            let repairEndDateTextBox = document.querySelector('#repairEndDate');

            let enddate = getNewRepairEndDateForSeverity(document.querySelector("#RepairOrder_Severety").value);

            return'👍';
        }
    </script>

    @{await Html.RenderPartialAsync("_CustomScriptsPartial");}
}