@model IEnumerable<M307_Project.Models.RepairOrder>

@{
    ViewData["Title"] = "Index";
}

<script>
    function finishOrders() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        var allIds = [];

        checkboxes.forEach(function (element) {
            allIds.push(element.value);
        });
        $.post("/RepairOrders/FinishOrders", { ids: allIds });
    }
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tool.ToolName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="finishOrders()">Finish orders</button>
